<div class="header-layout-container">
    <app-page-title
        (navToHome)="navToHomePage()"
        title="{{ 'ratingRecommendation.title' | translate }}"
    ></app-page-title>
    <div class="entity sm:flex-row sm:items-center" *ngIf="selectedEntityDetails?.entityName">
        <div class="title-badge-container sm:flex-row sm:items-center">
            <span class="entity-title">{{ selectedEntityDetails?.entityName }}</span>
            <div class="entity-badges">
                <div class="entity-badges--badge">
                    <blue-pill
                        *ngFor="let template of selectedEntityDetails?.selectedTemplate"
                        id="selectedTemplateBadge"
                        class="badge-item"
                    >
                        {{ template }}
                    </blue-pill>
                </div>

                <button
                    *ngIf="selectedEntityDetails?.showContextMenu"
                    blueButton
                    bluePopoverAnchor
                    class="button-link"
                    [popover]="menu"
                    popoverPlacement="bottom-end"
                >
                    <svg blueIcon="more-vertical"></svg>
                </button>
            </div>
        </div>
    </div>

    <div class="entity-details">
        <span>{{ 'ratingRecommendation.entity' | translate }}:</span>
        <span class="entity-details-count">{{ selectedEntityDetails?.selectedEntityCount }}</span>
    </div>
</div>

<blue-sticky-bar class="mx-0 sticky-bar-offset z-20">
    <div class="sticky-bar-start fs-unmask">
        <button
            [disabled]="!enableActionButton"
            blueButton
            bluePopoverAnchor
            [attr.data-testid]="'bulkActionAllTrigger'"
            [popover]="bulkActionAllMenu"
            class="button-secondary"
            [openedClass]="'icon-flip'"
        >
            <span>{{ 'ratingRecommendation.bulkActionAll' | translate }}</span>
            <svg blueIcon="chevron-down"></svg>
        </button>
        <button
            [disabled]="!enableActionButton"
            blueButton
            bluePopoverAnchor
            [attr.data-testid]="'bulkActionTrigger'"
            [popover]="bulkActionMenu"
            class="button-secondary"
            [openedClass]="'icon-flip'"
        >
            <span>{{ 'ratingRecommendation.bulkActionRatings' | translate }}</span>
            <svg blueIcon="chevron-down"></svg>
        </button>
        <button
            [disabled]="!enableActionButton"
            blueButton
            bluePopoverAnchor
            [attr.data-testid]="'bulkActionOutlookTrigger'"
            [popover]="bulkActionOutlookMenu"
            class="button-secondary"
            [openedClass]="'icon-flip'"
        >
            <span>{{ 'ratingRecommendation.bulkActionOutlook' | translate }}</span>
            <svg blueIcon="chevron-down"></svg>
        </button>
        <button
            *ngIf="enableActionButton"
            id="clearSelectionBtn"
            blueButton
            [attr.data-testid]="'clearSelectionTrigger'"
            class="button-link"
            (click)="clearSelection()"
        >
            <span>{{ 'ratingRecommendation.clearSelection' | translate }}</span>
        </button>
    </div>

    <div class="sticky-bar-end flex items-center button-toggle-sm" *ngIf="selectedEntityDetails?.allowedToggleGroups">
        <span class="relative">{{ 'ratingRecommendation.viewBy' | translate }}</span>
        <div class="fs-unmask">
            <blue-button-toggle
                class="min-h-0"
                [value]="viewTableBy"
                [attr.data-testid]="'viewByToggle'"
                (change)="emitSelectedViewBy($event)"
            >
                <button
                    blueButtonToggleItem
                    *ngFor="let view of tableViewOptions"
                    [value]="view.value"
                    [attr.data-testid]="'viewBy_' + view.value"
                >
                    {{ view.label }}
                </button>
            </blue-button-toggle>
        </div>
    </div>
</blue-sticky-bar>

<!--menu template var-->
<blue-popover #menu>
    <div class="w-54 fs-unmask">
        <ul blueMenu>
            <li *ngFor="let menuItem of menuData">
                <button blueMenuItem>
                    {{ menuItem.label }}
                </button>
            </li>
        </ul>
    </div>
</blue-popover>

<blue-popover #bulkActionMenu>
    <div class="w-34 fs-unmask">
        <ul blueMenu [multiple]="false" [attr.data-testid]="'bulkActionMenu'">
            <li *ngFor="let menuItem of actionMenuData; let i = index">
                <button
                    role="menuitem"
                    blueMenuItem
                    (click)="onClickBulkActionMenu(menuItem)"
                    [toggleFor]="menuItem.children ? reviewStatusMenuGroup : null"
                >
                    {{ menuItem.text }}
                </button>
                <ul
                    blueMenuGroup
                    #reviewStatusMenuGroup
                    role="none"
                    [attr.data-testid]="'bulkActionMenu_' + menuItem.text"
                >
                    <li *ngFor="let menuChildrenItemItem of menuItem.children">
                        <button blueMenuItem (click)="onClickBulkActionMenu(menuChildrenItemItem)">
                            {{ menuChildrenItemItem.text }}
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</blue-popover>

<blue-popover #bulkActionOutlookMenu>
    <div class="w-34 fs-unmask">
        <ul blueMenu [multiple]="false" [attr.data-testid]="'bulkActionOutlookMenu'">
            <li *ngFor="let menuItem of outlookMenuData">
                <button
                    role="menuitem"
                    blueMenuItem
                    (click)="onClickBulkActionMenu(menuItem)"
                    [toggleFor]="menuItem.children ? outlookMenuGroup : null"
                >
                    {{ menuItem.text }}
                </button>
                <ul
                    blueMenuGroup
                    [expanded]="menuItem.expanded"
                    #outlookMenuGroup
                    role="none"
                    [attr.data-testid]="'bulkActionOutlookMenu_' + menuItem.text"
                >
                    <li *ngFor="let menuChildrenItemItem of menuItem.children">
                        <button blueMenuItem (click)="onClickBulkActionMenu(menuChildrenItemItem)">
                            {{ menuChildrenItemItem.text }}
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</blue-popover>

<blue-popover #bulkActionAllMenu>
    <div class="w-34 fs-unmask">
        <ul blueMenu [attr.data-testid]="'bulkActionAllMenu'">
            <li *ngFor="let menuItem of allMenuData">
                <button blueMenuItem (click)="onClickBulkActionMenu(menuItem)">
                    {{ menuItem.text }}
                </button>
            </li>
        </ul>
    </div>
</blue-popover>
